@model EventsManagement.Models.User

@{
    ViewBag.Title = "Dodaj użytkownika";
}

<h2>Add</h2>

<h3>Chcessz dodać tego użytkownika do wydarzenia?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PelneNazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PelneNazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationalUnit.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationalUnit.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Add" class="btn btn-primary" /> |
            @Html.ActionLink("Wróć", "Index", new { @class = "btn btn-primary" })
        </div>
    }
</div>
