@model IEnumerable<EventsManagement.Models.User>
@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PelneNazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationalUnit.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PelneNazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationalUnit.Name)
            </td>
            <td>
                @{
        var flag = false;
        int eventID;
        foreach (var element in ViewData["takePart"] as Array)
        {
            if (item.Id.ToString() == element.ToString()) { flag = true; }
            //eventID = (int)element;
        }
        if (Request.IsAuthenticated)
        {
            if (flag) /////////////////////////musze miec id projektu i usera do usuniecia i dodania
            {
                @Html.ActionLink("Anuluj uczestnoictwo", "ExitEvent", new { EventId = (int)TempData["Event_ID"], id = item.Id })}
            else
            {
                   @Html.ActionLink("Dołącz", "adminAdd", new { EventId = (int)TempData["Event_ID"], id = item.Id })
                   @Html.ActionLink("Dołącz2",
                   "Include",
                   new { EventId = (int)TempData["Event_ID"], id = item.Id })
            }
        }
                }
                @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }) |
            </td>
        </tr>
    }

</table>
